

  .clear {
    clear: both;
  }

  body {
    background-color: #ECF0F1; 
    padding: 0px 300px 400px 300px;  
   height: 206px; 
    width: 400px; 
  }



.titleContainer {

   position: relative;
   
width: 415px;
height: 395px;

margin: -393px 0px 0px -186px;
padding: 0px 0px 0px 0px;

  
}
  #cell_1 {float:left; border:2px solid #ECF0F1; background-color: #63A69F}
  #cell_2 {float:left; border:2px solid #ECF0F1; background-color: #F2594B}
  #cell_3 {float:left; border:2px solid #ECF0F1; background-color: #63A69F}
  #cell_4 {float:left; border:2px solid #ECF0F1; background-color: #F2E1AC}
  #cell_5 {float:left; border:2px solid #ECF0F1; background-color: #63A69F}
  #cell_6 {float:left; border:2px solid #ECF0F1; background-color: #F2E1AC}
  #cell_7 {float:left; border:2px solid #ECF0F1; background-color: #F2836B}
  #cell_8 {float:left; border:2px solid #ECF0F1; background-color: #F2E1AC}
  #cell_9 {float:left; border:2px solid #ECF0F1; background-color: #63A69F}

  
  .masterContainer {
    position: relative;
    width: 500px; 
    height: 395px;
    margin: 76px 0px 0px 164px;
  }

  .container1 {
    display: inline-block;
    margin: -2px;
  }
    .container2 {
    display: inline-block;
    margin: -2px;
  }
    .container3 {
    display: inline-block;
    margin: -2px;
  }
  
  .col_1 {
    width:125px;
    height:125px;
    font-size: 120px;

  }

  .col_2 {
    width:125px;
    height:125px;
    font-size: 120px;

  }

  .col_3 {
    width:125px;
    height:125px;
    font-size: 120px;

  }

  #firstAlert {

    position: absolute;
    height: 200px; 
    width: 200px; 
    background-color: white; 
    opacity: .7; 
    margin: 93px 0px 80px 93px; 
    border-radius: 50%;
    font-size: 50px; 

    } 




  h2 {
    padding: 0px 5px 10px 20px; 
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
    margin: 48px 0px 0px 3px;
  }

  #lowerContainer {

  height: 91px;
  width: 377px;
  

}
  h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
    font-size: 102px; 
    padding: 0px 0px 0px 100px;
    margin: 0px 0px 0px 0px; 
  }

  h4 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
    font-size: 102px; 
    padding: 0px 0px 0px 100px;
    margin: 0px 0px 0px 0px; 

  }

  h6 {
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
    font-size: 102px; 
    padding: 0px 0px 0px 100px;
    margin: 0px 0px 0px 0px; 

  }

    h5 { 
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
      padding: 0px 0px 0px 10px;
      font-size: 28px; 
      margin: 0px 0px 0px 0px; 
    }

  .score {

   height: 42px;
width: 165px;
margin: -3px 0px 0px 10px;
background-color: white;
border-radius: 20px;
padding: 3px;
  
   } 
  .button {
     
height: 42px;
width: 165px;
margin: -49px 0px 0px 194px;
background-color: white;
border-radius: 20px;
padding: 3px;
    
     
  }
h3 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; font-size: 28px; 
  padding: 8px 0px 3px 0px;
margin: -5px 0px 1px 35px;
height: 39px;
width: 200px;
  
}

